.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: grey;
}

.NumberButton {
  /* height: 310px;
  width: 310px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ActionButton {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
